/*header start*/
 
  
.ul1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #286d77;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-blockblock;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.top) {
    background-color: #622d58;
    
  }
  
  .top {
    background-color: #80be0e;
  }
  
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: #622d58;;
  }
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #286d77;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .image2 {
    height: 60px;
    width: 60px;
    float: left;
    margin: 0px;
  }
  
  
  body{
    background-image: url("https://wallpapertag.com/wallpaper/full/4/9/2/118594-top-aesthetic-tumblr-backgrounds-black-1920x1080-free-download.jpg");
    color: white;
  }
   /*header end*/







   h1{
    text-align: center; text-shadow:  2px 2px #FFA500}

.img1p{
  float:right;
  width:450px;
  height:250px;
  margin-right:50px;
  margin-left:20px;
}

p{
  font-family:Courier 'Courier New', Courier, monospace;
  font-size: 25px;
  margin: 50px;
} 
.but{
  width:100px;
height:40px;
margin-left:50px;
}
.img2p{
  float:left;
  width:500px;
  height:400px;
  margin-left:50px;
  margin-right:20px;
}
.img3p{
  float:right;
  width:450px;
  height:400px;
  margin-left:20px;
  margin-right:50px;
}
.h5{
  text-align:left;
}
#doform{
  margin-left:50px;
  font-size:20px;
  margin-bottom:40px;
}

#insub{
  width:150px;
height:30px;
}




















   /*footer start*/


  #fot1 {
    background-color: #286d77;
    text-align: center;
    padding: 10px;
  }
  #fot1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #286d77;
    top: 0;
    width: 100%;
  }
  
  li {
    float: center;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
  }
  
/*footer end*/