/*header start*/
 
  
.ul1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #286d77;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-blockblock;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.top) {
    background-color: #622d58;
    
  }
  
  .top {
    background-color: #80be0e;
  }
  
  .dropbtn{
    background-color: #80be0e;
    
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: #622d58;;
  }
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #286d77;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .image2 {
    height: 60px;
    width: 60px;
    float: left;
    margin: 0px;
  }
  
  
  body{
    background-image: url("https://i.pinimg.com/originals/22/d4/15/22d4156a1d5ad637f31b6b99f6cb314a.jpg");
    color: white;
  }
   /*header end*/

.bentotaimage1{
  width: 100%;
  height: 440px;
  margin-bottom: 30px;
}

h1{
  text-align: center;
  text-shadow: 2px 2px #AFEEEE;
  color:black;
  font-size: 35px;
}

p{
  font-family:Courier 'Courier New', Courier, monospace;
  font-size: 25px;
  margin: 50px;
  color:black;
  text-align: left;
  margin-right:50px;
}

.bentotaimage2{
  float:left;
  width:600px;
  height:350px;
  
  margin-right:20px;

}

.ani1 {
  width: 90%;
  height: 100%;
  animation-name: example;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

@keyframes example {
  from {background-color:#E0FFFF;}
  to {background-color:#9370DB;}
}

















   /*footer start*/


  #fot1 {
    background-color: #286d77;
    text-align: center;
    padding: 10px;
  }
  #fot1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #286d77;
    top: 0;
    width: 100%;
  }
  
  li {
    float: center;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
  }
  
/*footer end*/